[2012-10-24 04:22] matthewmccullough opened #1 "Schedule Racket talk at DOSUG?"
On Monday, October 22, 2012 at 12:55 PM, Kieron Hardy wrote:

Hi Matthew,

We spoke brieafly at the last DOSUG meeting about my making a presentation on Racket (www.racket-lang.org) at one of the next DOSUG meetings. Let's get something on the schedule.

Cheers,

Kieron.

[2012-10-25 19:49] matthewmccullough commented on #1
Roping in @khardy to add the full proposal.  I'm excited to see this here!

[2012-10-26 14:08] matthewmccullough commented on #1
@DOSUG/boardmembers Let's discuss. @khardy will be adding his full proposal here.

[2012-10-26 14:31] khardy commented on #1
Here's the introduction for my proposed presentation

---

Domain Specific Languages (DSL) are everywhere. The jargon spoken by any group of specialized people, from Audiologists to Zoologists is a form of DSL. In software, DSL's are found as little languages like PIC, DOT, AWK, dc, bc, PostScript, and LaTex. More complex DSL's are implemented in all compilers and interpreters, and DSL's are at th

[2012-10-26 16:24] tlberglund commented on #1
I'm :100:% :+1: on this. The actual schedule will probably take shape in December, @khardy, but are you generally open to February or March?

[2012-10-30 15:39] khardy commented on #1
I was originally hoping to get on the schedule for November's meeting, but in any case, the sooner the better for me.

[2012-10-30 16:54] tlberglund commented on #1
Gotcha. We're already booked for November, and don't meet in January (and December is the Christmas party), but February would be great in my mind. Want to make it official?

[2012-10-30 17:03] matthewmccullough commented on #1
I'm +1 on it for February. @danhillenbrand and @mbarker62 and @mnelson0 what say you?

[2012-10-30 20:53] danhillenbrand commented on #1
edited to remove phone number 12/19/2016

February sounds good to me, too!

Dan Hillenbrand

--- On Tue, 10/30/12, Matthew McCullough notifications@github.com wrote:

From: Matthew McCullough notifications@github.com
Subject: Re: [feedback] Schedule Racket talk at DOSUG? (#1)
To: "DOSUG/feedback" feedback@noreply.github.com
Cc: "Dan Hillenbrand" danhillenbrand@yahoo.com
Date: Tuesday, October 30,

[2012-10-30 21:15] mbarker62 commented on #1
Feb sounds good!

Mike

On Oct 30, 2012, at 11:03 AM, Matthew McCullough wrote:

[2012-11-01 01:26] mnelson0 commented on #1
Sounds good to me.
Looking forward to it.

-Mark

Sent from my iPod

On Oct 30, 2012, at 11:03 AM, Matthew McCullough notifications@github.com wrote:

[2012-11-01 15:32] khardy commented on #1
Feb it is then.

On Oct 30, 2012, at 10:54, Tim Berglund notifications@github.com wrote:

[2012-12-13 19:00] bmgentile opened #2 "Apache Cassandra Use Case by Gnip"
Hello DOSUG organizers,

For your March 5th meetup, I'd like to purpose having Gnip speak about their Apache Cassandra Use Case.

Abstract
Over the last five months we have incorporated Apache Cassandra into our historical social media delivery product. In this time, we have had moments of joy and moments of pain. Our hope is to share some of what we learned, so your own experience with Cassandra

[2012-12-20 17:45] tlberglund commented on #2
Thanks for submitting this, @bmgentile. It sounds great to me. If I could hear from a couple of other board members, we can move forward.

To confirm, we are thinking of this as a 50-minute talk. Does that sound like it will work for you?

[2013-01-16 04:32] nandgate opened #3 "Schedule a talk on open source hardware/Arduino."
There has been a request for this kind of material on Twitter, I'm game to put something together but need a heads up on the schedule.  -John Lowe

[2013-01-16 06:53] virtualandy commented on #3
This would be awesome. +++would buy from again
The Arduino documentation is pretty good (especially the guide that comes with the SparkFun kit) so the 'connect to a machine via USB and make an LED flash' is probably pretty easy for most. What I'd love to see at a DOSUG talk are ideas/tips/tricks that go beyond step 1 (whether arduino or other hardware based). Such as:
- How do I build a circuit in

[2013-01-19 22:20] tlberglund commented on #1
@khardy Just a ping to confirm that we're a go for the DOSUG meeting on Tuesday, February 5.

[2013-01-21 18:29] khardy commented on #1
Yes we are a go. Thanks.

On Jan 19, 2013, at 15:20, Tim Berglund notifications@github.com wrote:

[2013-01-22 22:12] bmgentile commented on #2
Hi Tim; a 50-minute talk does work for us. Thank you and I look forward to hearing from you and the board.

[2013-01-22 23:13] tlberglund commented on #2
Super. We'll consider you booked!

[2013-02-09 16:45] tlberglund commented on #3
@nandgate We would love this on April 9. _Bring it, John_!

[2013-02-11 04:04] nandgate commented on #3
April works for me, though the meeting (1st Tuesday of the month) is on the 2nd, not the 9th. (right?)  I will post an abstract here soon.

[2013-02-11 21:40] tlberglund commented on #3
Yes, that's correct. April 2. Oops. :)

So...let's do this. Glad you're in!

[2013-02-14 21:34] virtualandy opened #4 "Vagrant"
Do we know anyone that could give a talk on Vagrant? That might be pretty neat.

Maybe the basics of setting it up, what it can do, then touching on specific examples (using a Vagrant box as a CI server, something like that).

[2013-02-17 05:09] thesteve0 opened #5 "Talk on OpenShift"
Hey Folks:
How about a hands on session with OpenShift in May? I can do two types of talks - hands on and get your app going on OpenShift Online (in any of the languages and with any of our datastores) OR if we want to spin up our instances of OpenShift Origin PaaS in a VM?
Let me know if you are interested and we can start to schedule.
spousty@redhat.com is also where you can reach me.
Thanks
Ste

[2013-02-17 23:40] tlberglund commented on #5
@thesteve0 Thanks! I really want to solicit the opinion of the rest of the board on this, so guys, please feel free to speak up openly. I'm new OpenShift, but here's my initial take:
- I like the idea
- It sounds like an extremely cool technology
- Even though I know it's OSS, we'd need to be careful to avoid this sounding like a vendor pitch. (It's weird that we'd even have to think about that fo

[2013-02-18 18:49] jaredwinick opened #6 "DOSUG Geospatial Night"
There are many open source geospatial tools these days. From Javascript client libraries, to map design, to data processing, to storage systems. It might be interesting to get a few smaller presentations, maybe around 4, that discuss different parts of this ecosystem. Ideally these different topics can be woven together in the context of a simple demo application.

I volunteer to talk about how to

[2013-02-18 18:53] virtualandy commented on #6
I can potentially cover a 'front end GIS' talk (if I can't find someone smarter to do it for us :) ). Could be about D3-style mapping, LeafletJS, OpenLayers, styling maps with TileMill, etc.

[2013-02-18 23:08] tlberglund commented on #6
Trying to think of an appropriate way to express my enthusiasm for this idea. It sounds incredible. Tentatively, what do you guys think of May?

[2013-02-19 05:50] virtualandy commented on #6
Unfortunately May 7th (I think I got that right) is bad for me. There's a chance I could move it (was planning on catching the Yankees Rockies game that night), though.

I'm probably not crucial to this and I'm sure someone could fill my shoes pretty easily.

[2013-02-19 06:23] jaredwinick commented on #6
As far as I know, May would work for me.

[2013-02-20 06:06] #1 closed, assigned to nobody

[2013-02-20 06:08] matthewmccullough commented on #2
I'd like to leave a belated "Nice!" on this proposal. Excited to have @bmgentile delivering a talk at DOSUG!

I did a little updating, but @danhillenbrand can you double check I got all the appropriate details into the http://meetup.denveropensource.org/events/100775142/ event?

[2013-02-20 06:12] matthewmccullough commented on #2
@bmgentile What's a good bio for you that we can use for the night's talk?  Something from here?: http://www.linkedin.com/in/bradygentile

Or if it is one of the Gnip folks speaking, can you have them post a bio here?

[2013-02-20 06:43] bmgentile commented on #2
Sure thing! The speaker is going to be Nick Matheson and I will reach back out here with a bio ASAP. Thanks Matt.

[2013-02-20 16:14] tmarrs opened #7 "Abstract - JSON at Work: APIs and Schema"
JSON is more than just a simple replacement for XML when you make an AJAX call. All modern languages have excellent JSON API support. You’re already using JSON, and you may be thinking:
• What else is there to talk about?
• What APIs are available, and why do they matter?
• How do I leverage these APIs to improve my applications?
• What is JSON Schema and when/how do I use it?

In this presentatio

[2013-02-20 16:16] tmarrs opened #8 "Abstract - JSON at Work: The JSON Ecosystem"
JSON is more than just a simple replacement for XML when you make an AJAX call. JSON is becoming the backbone of any serious data interchange over the Internet. There are emerging standards and best practices that can be used to harness the energy and enthusiasm around JSON to build truly elegant, useful, and efficient applications. You’re already using JSON, and you may be thinking:
• What else i

[2013-02-20 16:18] tmarrs opened #9 "Abstract - RESTful Design at Work"
You’ve been working with RESTful Web Services for a few years now, and you’re looking to improve your design. Maybe you're new to REST on your project. In any case, you have questions:
• How do I design a quality Service?
• Are there any guidelines and best practices for RESTful API design?
• How can I tell if a Web Service is truly RESTful?
• Where can I find well-designed RESTful APIs?
• Are the

[2013-02-20 16:20] tmarrs opened #10 "Abstract - RESTful Security at Work"
You’ve been working with RESTful Web Services for a few years now, and you’d like to know if your services are secure. Maybe you're new to REST on your project. In any case, you have questions:
• How do I design a secure service?
• Are there any guidelines and best practices?
• What is OWASP and how does it help?
• What is OAuth and how do I use it?
• How does RESTful Security tie to existing infr

[2013-02-20 17:49] matthewmccullough commented on #6
I'm :+1: on the idea. And by the way, the fact that we are using GitHub issues to plan this has me :grinning:

[2013-02-20 17:53] matthewmccullough commented on #5
@thesteve0 I like the idea.  I will second @tlberglund in my own way of saying something similar.  I think the best responses at DOSUG are for talks that help our audience bridge what they need to do but aren't, or are, but are doing less well than they could to a future filled with :rainbow: and :unicorns: (why is that not an emoji?).

Our audience could be described as:
- Medium to large busines

[2013-02-20 18:00] jaredwinick commented on #6
Ha, and you guys even have an appropriate emoji for this issue :globe_with_meridians: Andy has done some recruiting on Twitter but like Matthew suggests, I think it would be great to keep all planning on here, rather than via email

[2013-02-21 04:25] danhillenbrand commented on #2
I've updated dosug's site to include Nick Matheson as presenter.  Will update with his bio when it's ready.  Thanks everyone!  http://meetup.denveropensource.org/events/100775142/

[2013-03-07 03:11] btuttle commented on #6
I could do an overview on some of the server options like mapserver, geoserver, and mapnik.

[2013-03-07 04:52] nandgate commented on #3
Here is a the abstract:

Over the past few years a number of open source friendly embedded
platforms have become very popular and received some press, the Arduino
and Raspberry-Pi being the most popular examples.  This evening we'll
compare the capabilities of a number of these platforms and evaluate how
to choose one of these platforms for a project.  We will then discuss
some basic electronics c

[2013-03-07 17:23] matthewmccullough commented on #6
@btuttle I like an overview.  For n00bs, that is one of the greatest gifts and most attractive things you can do to get them into a space they don't know well.

[2013-03-07 17:33] tlberglund commented on #3
This is so incredibly approved. Guise, any problem with John taking both slots? He really needs them.

@danhillenbrand I think it would be fine to get this abstract on the site.

[2013-03-07 17:40] danhillenbrand commented on #3
The site is now updated:
http://meetup.denveropensource.org/events/105154162/

![Arduino](https://f.cloud.github.com/assets/523087/233244/0c8ae5c4-874e-11e2-8b0d-551359f445ec.jpg)

[2013-03-07 17:41] matthewmccullough commented on #3
@danhillenbrand Gorgeous!

[2013-03-07 23:02] matthewmccullough commented on #8
I like this the best of the four proposals @tmarrs.  I think JSON rules the world.  It would even be fun (but sure, I'm biased) to see some examples of calling the [GitHub API](http://developer.github.com) with these tools.

[2013-03-07 23:03] matthewmccullough commented on #10
I think by the percentage of folks using a given technology, we should lead with thinking about https://github.com/DOSUG/feedback/issues/8 as JSON is the "it is everywhere!" thing right now.  What say you @DOSUG/boardmembers ?

[2013-03-07 23:03] matthewmccullough commented on #9
Similar to what I just said in the other RESTful proposal, I think by the percentage of folks using a given technology, we should lead with thinking about https://github.com/DOSUG/feedback/issues/8 as JSON is the "it is everywhere!" thing right now.  What say you @DOSUG/boardmembers ?

[2013-03-07 23:04] matthewmccullough commented on #7
This has me interested and asking questions.  Why schemas in JSON?  Is that popular?  What do the nay-sayers say?  Is this XSD all over again?

Just prodding.  Very interested.

[2013-03-07 23:05] matthewmccullough commented on #4
@mstine is a great speaker on the topic, but it could be hard to fund his appearance.  Maybe get APEX and Jill to try and help?

[2013-03-07 23:06] matthewmccullough commented on #4
@DOSUG/boardmembers Any other names on this topic, folks?  This is a good topic to put on our roster.

[2013-03-07 23:06] #3 closed, assigned to nobody

[2013-03-07 23:07] matthewmccullough commented on #2
Do we have Nick's GitHub handle handy, @bmgentile ?  Wanted to thank him publicly here!

[2013-03-07 23:07] #2 closed, assigned to nobody

[2013-03-07 23:07] matthewmccullough commented on #6
@jaredwinick @btuttle @virtualandy I'd love for you gents to tell us in bullet points what the lineup should be and what night might work and then we'll support you to make this happen!

[2013-03-07 23:10] tlberglund commented on #4
I was thinking (but did not post) about APEX.

@tlberglund Contact Jill at APEX and get her to fly Matt here to talk about Vagrant.

[2013-03-07 23:20] mstine commented on #4
Jill is rocking good people. Finally got to meet her in person at DevNexus. She'll hook us up.

Sent from my iPhone

On Mar 7, 2013, at 3:10 PM, Tim Berglund notifications@github.com wrote:

[2013-03-07 23:33] tmarrs commented on #7
Matthew
JSON Schema is absolutely necessary whenever you cross an organizational boundary, whether it's intra-enterprise or inter-enterprise because it validates the semantic meaning of a document:
Are all the required elements there?
Are the dates in the agreed-upon format?
Is the value within an acceptable range (e.g., an enum)?
Consider an Order Processing system. Without a schema, you have to

[2013-03-07 23:36] jaredwinick commented on #6
With respect to dates, I believe I am wide open, so I could do the May date that @tlberglund suggested. Again, I think it would be awesome if we could tie together the presentations in the context of a simple application. For example, each of the following would be a presentation and part of a demo
- Javascript library (Leaflet.js, etc.) used to render map tiles/vector data ( @virtualandy )
- Serv

[2013-03-09 03:10] virtualandy commented on #6
Tom Flaherty can cover Leaflet and some friend end stuff (he could cover the whole thing, probably) if the date is in May since I can't make it that night (not a big deal on my end).

I think it would be cool to see several talks that are all tied in to the same project - bonus points if it's some sort of Code For America/Code4Communities type app. But that's probably too hard to pull off in 2 mon

[2013-03-09 03:11] virtualandy commented on #10
I'm bummed I miss this talk at DJUG and would love to see it come to DOSUG. Security is usually an afterthought and beyond OAuth I'm not sure many of us even deal with it much.

Maybe you could bring in someone from OWASP (or Tom could go there, too) to coincide with this talk.

[2013-03-09 03:13] virtualandy commented on #4
Sweet! I ended up learning just barely enough of Vagrant to give a Intro talk at Denver JS last night, so if something falls through I could give a short talk (20-30mins) on it too.

[2013-03-09 17:22] tmarrs commented on #10
I could the JSON talk(s) for one meeting this summer, and something on REST in December (or early 2014).

Tom

---

Tom Marrs, PSM I
thomasamarrs@comcast.net
http://www.linkedin.com/in/tommarrs
http://www.facebook.com/thomasamarrs
http://twitter.com/TomMarrs
303-547-5415

On Mar 8, 2013, at 8:11 PM, Andy notifications@github.com wrote:

[2013-03-12 20:15] bmgentile commented on #2
Sorry, I just saw this! I do have his handle: https://github.com/nickmatheson/

Thank you very much for allowing Gnip to present :) I hope everything went well!

[2013-03-12 20:18] matthewmccullough commented on #2
@nickmatheson we were so pleased to have you join us and the feedback was very positive in the hallway and over at http://meetup.denveropensource.org/events/100775142/

[2013-04-04 20:50] matthewmccullough commented on #5
Hi @thesteve0 !  Haven't heard from you in a while, but wanted to let you know we're still keen to talk about this for May.  Any thoughts on the above to bring this to fruition?  Thanks in advance!

[2013-04-04 20:50] matthewmccullough commented on #5
Looking to put the data here once ready to go http://meetup.denveropensource.org/events/112443962/

[2013-04-05 16:41] virtualandy commented on #6
@theSteve0 (of OpenShift/RedHat fame) has a good blog series on geospatial stuff: https://www.openshift.com/blogs/finding-and-making-sense-of-geospatial-data-on-the-internet is the start. There's some good resources/links in there and a short talk that sort of covered the same topics would probably be pretty good.
Unfortunately...I still can't make the May date. But that might be a good blueprint

[2013-04-05 16:54] virtualandy commented on #3
This was an awesome talk.
@john_lowe posted his slides at http://nandgatetech.com/files/Presentations/OpenSourceHardware.pdf and @andrewserff took some notes and shared them at https://www.evernote.com/shard/s3/sh/905af51e-4bc8-410e-8c97-1ec66d89d4c2/812a3e187105042c2eeec74958a3fcff

[2013-04-05 23:36] matthewmccullough commented on #6
To give some planning breathing room, I would love to target June as the Geo night.  Can we get a word on which geo-centric presenters and people this works for?

[2013-04-22 11:51] matthewmccullough commented on #5
@mojavelinux Do you happen to have email contact info for @thesteve0? Super interested in having him for May, but haven't heard from him in a while.

[2013-04-22 13:28] thesteve0 commented on #5
Sorry I haven't replied I have been swamped with travel and work. What
dates were you thinking?
Thanks
Steve
On Apr 22, 2013 8:51 AM, "Matthew McCullough" notifications@github.com
wrote:

[2013-04-22 20:40] matthewmccullough commented on #5
Was still hoping for the May date as we kind of held it for you, but if that doesn't work out, we'll try to make a plan B. :smile:

[2013-04-22 20:56] thesteve0 commented on #5
What May date were you thinking?

On Mon, Apr 22, 2013 at 5:40 PM, Matthew McCullough <
notifications@github.com> wrote:

[2013-04-22 21:09] matthewmccullough commented on #5
Hi Steven,

Tuesday, May 7th is our venue-planned meeting date.  Happy to have you address our group if you can make it.

Cheers,
-Matthew

[2013-04-22 21:12] thesteve0 commented on #5
I might be able to make that date. What time is the meetup?
Thanks
Steve

On Mon, Apr 22, 2013 at 6:09 PM, Matthew McCullough <
notifications@github.com> wrote:

[2013-04-23 00:09] graphitefriction commented on #5
Hi Steve!

The Meetup begins at 5:30. We chat, grab pizza, late people like me roll in.

From 6 to 9 (or maybe 8:30?) the speaker rocks the podium (with a 15 min break in between for more pizza).

After the meetup, we sometimes re-convene at a local pub for beer and snacks.

The meetup location is at The Innovation Pavilion, 9200 e mineral ave, centennial, co 80112 (NOT at the Microsoft building,

[2013-04-23 08:44] matthewmccullough commented on #5
@graphitefriction So appreciative of you supplying the data during Finland's night. Not a hijack. Such a help. :heart: your contribs, always, @graphitefriction.

[2013-04-23 18:44] thesteve0 commented on #5
I am in - buying my tickets now.

What would you like me to talk about.

I will come in on Tues afternoon and then leave Wed afternoon.

Thanks
Steve

On Tue, Apr 23, 2013 at 5:44 AM, Matthew McCullough <
notifications@github.com> wrote:

[2013-04-23 18:48] thesteve0 commented on #5
Will the meeting also be at Microsoft? Or somewhere else? I would like to
get my hotel close to the venue or the bar ;).
Thanks
Steve

On Tue, Apr 23, 2013 at 3:44 PM, steven citron-pousty <
scitronpousty@gmail.com> wrote:

[2013-04-23 19:29] thesteve0 commented on #5
With that much time available let's do a hands on workshop. We will get
everyone creating an app with a DB on OpenShift and during it we can have a
ton of questions. Sound good? You want me to buy pizza and drinks?
Steve

On Tue, Apr 23, 2013 at 3:48 PM, steven citron-pousty <
scitronpousty@gmail.com> wrote:

[2013-04-24 11:29] matthewmccullough commented on #5
Steven,

Historically, there's a real mix of whether folks bring laptops or not.  Is there a way to simulate a workshop by so-to-speak letting the audience verbally drive, thereby creating a workshop-like experience.

I'm on a plane from Germany back to the states, so I'll let my brilliant USA DOSUG compatriots weight in here for shaping the plan.

Let me say how delighted I am that you'll be able

[2013-05-01 21:53] thesteve0 commented on #5
Ok folks, can you please let me know of a link Openshift and I can promote for the event.
What is the location - I still haven't gotten a hotel.

Here is the talk I will basically be giving though I will change a little bit of the wording and topic sentence
http://presentations-techsmacktalk.rhcloud.com/judconbrworkshop/index.html#/

The outline is:
1) 10 minutes of learning about PaaS and cloud
2

[2013-05-01 23:29] matthewmccullough commented on #5
@thesteve0 I'm on the road teaching in L.A. so I'll let me colleagues fill in some details tonight or tomorrow if possible, but I can get you that event URL right away:

http://meetup.denveropensource.org/events/112443962/

The address is:

There's a plethora of solid hotel choices around that area, or just a little farther south (5 minutes) such as the "Marriott Tech Center South".

[2013-05-02 13:58] matthewmccullough commented on #5
@danhillenbrand could you pop this updated outline and evening recipe into our Meetup site?  It would be great to indicate that this can be both a follow-along-with-your-own-laptop opportunity, should you want to learn from it that way.

@thesteve0 Any thoughts about the time-to-content-outline plan for the 40m + 40m segments for us to put on the site?  In short, do your past runs suggest what fit

[2013-05-02 14:07] thesteve0 commented on #5
I can break whenever we need to break. Maybe 40 minutes until they all push
their first code change and we can break there.

Also, laptop is encouraged - it's more fun that way. I assume there will be
network - is that an ok assumption?

Thanks
Steve

On Thu, May 2, 2013 at 6:58 AM, Matthew McCullough <notifications@github.com

[2013-05-02 14:13] matthewmccullough commented on #5
The network is definitely present.  It can flake out from time to time, but as long as we are able to retry things (e.g. "run that command again ladies and gents"), we'll be in good shape.

[2013-05-02 14:14] thesteve0 commented on #5
Close enough for Open Source work ;)

On Thu, May 2, 2013 at 7:13 AM, Matthew McCullough <notifications@github.com

[2013-05-04 06:37] danhillenbrand commented on #5
I've updated the web page for this...check it out and let me know if it needs some tuning:
http://meetup.denveropensource.org/events/112443962/

Sadly, I will miss this session as I'm headed out of town for some off-site work next week.

Best of luck for a great meeting!

--Dan

Dan Hillenbrand
(720) 325-4200

--- On Thu, 5/2/13, Steven Citron-Pousty notifications@github.com wrote:

From: Steven C

[2013-05-04 13:49] tlberglund commented on #5
Dan,

Looks great. Very much looking forward to this one.

Tim

On Sat, May 4, 2013 at 12:37 AM, Dan Hillenbrand
notifications@github.comwrote:

[2013-05-06 15:11] jaredwinick commented on #6
I could do June, though I believe there is an AngularJS meetup the same night (June 4th) that I would go to otherwise and might possibly compete for attendees/presenters.

[2013-05-06 15:15] thesteve0 commented on #6
I might be able to come back and do a presentation on that night as well.
But I do not want to compete with an Angular night - that is some great
technology.

On Mon, May 6, 2013 at 8:11 AM, Jared Winick notifications@github.comwrote:

[2013-05-07 10:49] matthewmccullough commented on #6
Steven,

Dang. That's an incredible generous offer.  We have several other people that have kind of queued up interest in presenting at the June event, in case this geo night couldn't quite happen.  Tim's doing some querying of them tomorrow or so...

Jared,

Let me know if August (we usually take July off for a BBQ) might work for you and if it would be not competing for attendance.

[2013-05-08 13:57] tlberglund commented on #5
Great job, @thesteve0! After we got the Internet figured out, this was a super cool demo of a technology I just might put into personal use soon. You did a fantastic job with a user group workshop, which I happen to know is no simple thing. :)

[2013-05-08 15:29] thesteve0 commented on #5
Thanks Time! It was a great time - good audience, great questions, and it
all worked.
So one other thing - for the geospatial session - I am willing to come back
because that is my passion. Let me know if you want me to give one of the
talks or something. I am also willing to do a half or full day workshop for
DOSUG on the weekend on this stuff.
Thanks
Steve

On Wed, May 8, 2013 at 6:57 AM, Tim Be

[2013-05-09 12:19] tlberglund commented on #5
@thesteve0 We would _love_ to have you back out for a geospatial talk. It might be early next year just to make room for other folks, but you are definitely on the "welcome back at DOSUG" list. :grinning:

[2013-05-09 17:15] danhillenbrand commented on #5
I'll second that, even though I missed your talk on Tuesday.  My bosses' boss did attend and highly recommended that I attend any future talks from you.

Great Job!--Dan

Dan Hillenbrand
(720) 325-4200

--- On Thu, 5/9/13, Tim Berglund notifications@github.com wrote:

From: Tim Berglund notifications@github.com
Subject: Re: [feedback] Talk on OpenShift (#5)
To: "DOSUG/feedback" feedback@noreply.gi

[2013-05-16 18:20] matthewmccullough commented on #5
@thesteve0 Wanted you to know you left quite an impression. Folks at KForce were talking about the interactivity and quality of your DOSUG visit. So appreciative of your flight, travel, and talk!

[2013-05-16 18:20] #5 closed, assigned to nobody

[2013-05-16 21:35] matthewmccullough commented on #5
@thesteve0 @ghessler of the Colorado Springs User Group would love to talk to you about a speech at his group as well.  It meets on a different cycle and date than our DOSUG, but I wanted to make the intro here and then let you gents take it to a new discussion via email or such...

[2013-05-17 14:54] ghessler commented on #5
Hi @thesteve0,

Can you drop me an e-mail at ghessler@gmail.com and let me know if you could do a presentation for us sometime?  I can provide available dates and you can let me know what might work for you.

Thanks,

Gary

[2013-05-20 20:47] winderpete opened #11 "interest in presenting"
I would like to see if you would be open to a presentation from Jaspersoft (open source BI tool) on relevant topics that your group members would benefit from. We would in turn be happy to invite our CO area customers to an event where you would get exposure.

Pete
617 909 9397

[2013-05-21 04:55] danhillenbrand commented on #11
I am very interested in seeing this presentation!

[2013-05-25 20:08] tlberglund commented on #11
@winderpete This sounds great! Since we're an open-source user group, we'd
need to be careful from the outset that this doesn't sound like a vendor
pitch. I understand that you're a vendor—@matthewmccullough and I work as
trainers and evangelists for GitHub, so we totally get it—but we need to be
careful to give the group something they can take home and use right away
in a free and open-source wa

[2013-05-29 16:03] winderpete commented on #11
Happy to throw something together.  What dates are available or can I name
the date?

Thanks,

pete

On Sat, May 25, 2013 at 1:08 PM, Tim Berglund notifications@github.comwrote:

[2013-05-29 16:56] tlberglund commented on #11
@winderpete Right now, June 4 is available, but I'm guessing that's too soon. :)

We have a cookout in July instead of a regular meeting, and have various other options in flight for August and later, but all of the August through November meetings are currently open.

[2013-05-29 17:04] winderpete commented on #11
Thanks for the prompt reply and details.  We are already working on another
event in the CO area on September 25th would it be possible to schedule one
with you for the 24th or 26th?

Regards

Pete

On Wed, May 29, 2013 at 9:56 AM, Tim Berglund notifications@github.comwrote:

[2013-05-29 17:08] tlberglund commented on #11
@winderpete Alas, not quite. Our September meeting is on Tuesday the 3rd. (We always meet on the first Tuesday of the month.) Is any first Tuesday workable for you this year (July and December excepted)?

[2013-05-29 17:18] winderpete commented on #11
I will look into it

On Wed, May 29, 2013 at 10:08 AM, Tim Berglund notifications@github.comwrote:

[2013-05-29 17:31] winderpete commented on #11
looks like we are also unable to move the other event so I will get back to
you down the road.

On Wed, May 29, 2013 at 10:18 AM, Pete Knast pete.knast@gmail.com wrote:

[2013-05-29 17:33] tlberglund commented on #11
@winderpete Excellent. We would love to you have you, and you know how to reach out to us. Please ping us whenever the schedule makes sense!

[2013-05-31 11:52] #11 closed, assigned to nobody

[2013-05-31 11:58] tlberglund opened #12 "07062013 Abstracts"
@danhillenbrand I've collected these by email, but I figured I'd post them here where everybody can see them. Might you web-site-ify them?

[2013-05-31 11:58] tlberglund commented on #12
## Restful API Design At Work

by Tom Marrs
RESTful API Design at Work

[2013-05-31 11:58] tlberglund commented on #12
## Discover the Zen of Writing Ascii(Docs)

by Dan Allen

[2013-05-31 12:09] tlberglund commented on #12
## Tom Marrs bio

Tom Marrs is a Technical Architect at Perficient, where he specializes in ServiceOriented Architecture (SOA). He designs and implements mission-critical web and business applications using the latest SOA, Ruby on Rails, HTML5, JavaScript, Java/EE, and Open Source technologies.

Tom is the author of the JSON Refcard for DZone, and the upcoming book _JSON at
Work_ for O’Reilly. Tom

[2013-05-31 12:09] tlberglund commented on #12
## Dan Allen Bio

Dan is an open source advocate, community catalyst, author and speaker. He proudly pursues these passions as a Red Hat employee and community member. In his role as Principal Software Engineer, he serves as the Arquillian community manager and draws on that experience to help make a variety of open source projects wildly successful, including Arquillian, Awestruct, Asciidoctor, J

[2013-05-31 19:20] danhillenbrand commented on #12
Using my web-site-ification-LITE process, these are now web-site-ified.

[2013-05-31 19:40] tlberglund commented on #12
:boom: Thanks, @danhillenbrand!

[2013-05-31 19:40] #12 closed, assigned to nobody

[2013-06-11 17:45] danhillenbrand commented on #12
@tlberglund @matthewmccullough
Hello team:  Tom sent me his slides the other day, and I just now made them available for all to see.  He reminded me today to get it done, so I quickly put them up on SpeakerDeck...under my own github account since I don't think I can access the DOSUG account:  https://speakerdeck.com/danhillenbrand/tom-marrs-restful-api-design-at-work. I added a link to it in the c

[2013-06-11 17:54] tlberglund commented on #12
@danhillenbrand Very kind of you to rig that up. I think we can host them, or better yet, @tmarrs could make a SpeakerDeck account and put the slides there! (Tom, the awesome thing about this is that the slides get associated with you instead of DOSUG, which is good for you. :grinning:)

[2013-06-12 19:38] tmarrs commented on #12
Tim,
I have SpeakerDeck account, and I could post my slides there.

Thanks.

Tom

---

Tom Marrs, MCIS, MTEL, PSM I
thomasamarrs@comcast.net
http://www.linkedin.com/in/tommarrs
http://www.facebook.com/thomasamarrs
http://twitter.com/TomMarrs
303-547-5415

On Jun 11, 2013, at 11:54 AM, Tim Berglund notifications@github.com wrote:

[2013-06-15 02:28] tlberglund commented on #12
@tmarrs Bring it! Post the link here when you're done. :)

[2013-08-21 23:35] gabehamilton opened #13 "Regression Analysis + Google Prediction API"
Devon Jones (devonjones) and I have a combined talk we could do: an expansion of talks we have presented at Tech Confluence.

Talk would consist of an Intro to regression analysis, move into some examples of using regression and complete with using the Google Prediction API to do regression.

[2013-08-26 03:24] tlberglund opened #14 "September Talks"
I would like to volunteer to speak at the September meeting. Two talks! What do you guys think?
## Discrete Math You Need to Know

What do you need to know about prime numbers, combinatorics, and the underpinnings of public key cryptography? Well, maybe more than you think!

In this talk, we'll explore the branch of mathematics that deals with individual, countable things. Most of the math we lear

[2013-08-26 03:24] tlberglund commented on #13
@gabehamilton Love it. October?

[2013-08-26 03:25] tlberglund commented on #10
@tmarrs Is this talk ready to go? Might it be doable in October?

[2013-08-26 03:26] matthewmccullough commented on #14
:+1:

[2013-08-26 15:09] devonjones commented on #13
the intro and example sections also cover a little of numpy and scipy

[2013-08-26 15:11] tlberglund commented on #13
@devonjones I don't know what those things are. Yet. :grinning:

Let us know how your schedule looks for October, and perhaps we can do this. It would be great it so!

[2013-08-26 16:25] gabehamilton commented on #13
Tuesday October 1st works for us.  Just to be clear we're planning a single talk slot that Devon and I will share.
How long are the normal slots, 1hr or 1:15?

[2013-08-26 19:51] tlberglund commented on #13
@gabehamilton 50 minutes! _Can you do it?_ :grinning:

(And yes, Tuesday, Oct 1.)

[2013-08-26 21:43] Alan-R commented on #13
Hi Tim:

You had indicated that you would be interested (or at least willing) to
have me give a talk on the Assimilation Project.  So far, I have been
unable to figure out how to propose this talk so that anyone notices...

Is that of interest?

On 08/26/2013 01:51 PM, Tim Berglund wrote:

##

[code]

"Openness is the foundation and preservative of friendship...  Let me claim from you at all times

[2013-08-27 02:18] tlberglund commented on #13
@Alan-R Yes indeed. Have you posted an issue in this repo? Apologies if I've missed that. I'd be happy to book you for October. :)

[2013-08-27 03:47] danhillenbrand commented on #14
:+1:
Both sound good to me

I'm very interested in hearing you thoughts on abandoning Product Owners.  My take is that they should be leaders that facilitate the collaboration of all stakeholders of a product, not be what appears to be dictators from the development side.   I look forward to your talk!

[2013-08-27 03:54] danhillenbrand commented on #13
@tlberglund  the word "little" should have been a clue:  I believe numpy and scipy are two of Snow White's Seven Dwarfs.

[2013-08-27 11:44] Alan-R opened #15 "Assimilation Project presentation"
I'd like to propose that I speak on the Assimilation Project at the October meetup.  http://assimproj.org/

Integrated open source IT discovery and monitoring.

Zero-network footprint discovery
Extremely scalable monitoring

Integrated together.

[2013-08-27 11:44] Alan-R commented on #13
On 08/26/2013 08:18 PM, Tim Berglund wrote:

No.  I haven't.  I wasn't sure what the protocol is.  I sent you an
email to ask, but didn't get a reply.    Let me check my schedule for
October.  October is a really busy month...

But October 1st is available.

##

[code]

"Openness is the foundation and preservative of friendship...  Let me claim from you at all times your undisguised opinions." - W

[2013-08-27 11:46] Alan-R commented on #15
![resistanceisfutile-words-and-symbols-3lines](https://f.cloud.github.com/assets/1258659/1034059/4afaf20c-0f0e-11e3-919f-f35384a083a6.png)

[2013-08-28 01:23] tlberglund commented on #14
@danhillenbrand All will become clear. :)

Might you update dat Meetup site? These talks are hereby declared to be :ship:ed.

[2013-08-28 01:23] tlberglund commented on #13
@Alan-R Sorry about that email! I haven't seen it. If I uncover it soon, you'll get an emailed apology as well. Thanks for posting in the separate issue. :)

[2013-08-28 01:25] tlberglund commented on #15
@DOSUG/boardmembers, I've spoken to Alan on a few occasions about this project, and it's pretty interesting. He comes at the problem from a number of different angles, each of which could fill its own 50-minute talk. I'm sure whatever approach he takes will make for an interesting talk. Shall we do this?

[2013-08-28 02:14] tmarrs commented on #10
Tim,
Sure, I could do this talk in October.
I'm doing some updates this week, so I'll send you a new abstract this weekend.

I'm still up for some JSON talks during the winter.

Thanks.

Tom

---

Tom Marrs, MCIS, MTEL, CSM, PSM I
thomasamarrs@comcast.net
http://www.linkedin.com/in/tommarrs
http://www.facebook.com/thomasamarrs
http://twitter.com/TomMarrs
303-547-5415

On Aug 25, 2013, at 9:25 PM,

[2013-08-28 04:28] Alan-R commented on #15
I also have been learning a bunch about creating and updating graph databases -- yet another talk ;-).  I have a really cool python API that almost makes the dealing with the database disappear into the background.

[2013-08-29 01:29] tlberglund commented on #15
@Alan-R Awesome! As that graph database talk takes shape, throw us an abstract in here. I can see it happening next year...

[2013-08-29 01:30] tlberglund commented on #10
@tmarrs Suhweet. I am going to consider you booked for October. :smile:

[2013-08-29 03:11] Alan-R commented on #15
Just to be clear -- still interested in presenting on the project itself...  Looking for suggestions on what perspectives are most interesting - if anything comes to mind.

[2013-08-29 12:05] tlberglund commented on #15
@Alan-R Right, I'm assuming Assimilation is the topic of the October presentation. Could you give us an abstract in this comment thread?

[2013-09-12 15:08] Alan-R commented on #15
The Assimilation Project provides integrated IT discovery and monitoring aimed at risk management and mitigation.   Discovery finds systems, services, dependencies, including services you aren’t monitoring and systems you’ve forgotten about. About 30% of all outside security breaches come through forgotten systems.  Discovery is continuous and has zero-network-footprint.  Monitoring is extremely s

[2013-09-17 21:46] tlberglund commented on #15
@Alan-R Sounds great!

@danhillenbrand Onto the Meetup site with this?

[2013-09-18 03:19] mnelson0 commented on #15
Hopefully the presentation will spend a fair amount of time making the case
for why the Assimilation Project was deemed to be necessary.  I assume the
project is open source, so I give a thumbs up.

--Mark

On Tue, Aug 27, 2013 at 7:25 PM, Tim Berglund notifications@github.comwrote:

[2013-09-28 20:12] Alan-R commented on #15
How long is my presentation supposed to be?

[2013-09-30 14:42] tlberglund commented on #15
@Alan-R 50 minutes.

[2013-10-01 21:17] danhillenbrand commented on #15
Since I wasn't asked to emcee, I'm assuming my absence won't hurt anything other than my missing the learning opportunity.

Enjoy the presentations, and I'll see you in November!

 
Dan Hillenbrand
(720) 325-4200

---

 From: Tim Berglund notifications@github.com
To: DOSUG/feedback feedback@noreply.github.com
Cc: Dan Hillenbrand danhillenbrand@yahoo.com
Sent: Monday, September 30, 2013 8:42 AM
Sub

[2013-10-01 22:04] tlberglund commented on #15
@danhillenbrand No problem! See you next month. :grinning:

[2013-11-05 18:36] danhillenbrand commented on #10
@tmarrs
Tom,  I have a colleague who will miss your presentation tonight, and wondering if you would allow me to videotape it for him.  Is that something you're ok with?
Thanks--Dan Hillenbrand

[2013-11-05 19:33] tmarrs commented on #10
Dan,
I’d rather not do the recording. I’ll make the slides available after the meeting.

Thanks.

Tom

---

Tom Marrs, MCIS, MTEL, CSM, PSM I, PSD I
thomasamarrs@comcast.net
http://www.linkedin.com/in/tommarrs
http://www.facebook.com/thomasamarrs
http://twitter.com/TomMarrs
303-547-5415

On Nov 5, 2013, at 11:36 AM, Dan Hillenbrand notifications@github.com wrote:

[2013-11-05 19:37] danhillenbrand commented on #10
Alright, thanks Tom!

[2014-07-27 17:41] graphitefriction opened #16 "Writing Documentation that Satisfies Your Users"
@tlberglund

Despite having had that yummy drink, I do remember I promised you this. :grinning:
This talk can stretch anywhere from 1 hr to 1.5 hrs, as needed.
Also, you can let the group know that 1-2 volunteers (1st come, 1st served) can send me a tutorial/chapter/quickstart and I'll analyze it during the talk.

Abstract:

Documentation is paramount to increasing an open source project’s adoptio

[2014-08-04 16:31] tlberglund commented on #16
Site finally updated! Thank you, @graphitefriction, and see you tomorrow night!

Note that I've pushed up the meeting time to 6pm, since we're just doing one talk. We've talked about that a bit, and I'm trying it out here. I'll still be there at 5:30, but pizza, etc., won't arrive till then, and you won't have to get started until 6:30. You can take 1 or 1.5 hours as desired.

[2014-08-04 17:36] graphitefriction commented on #16
Awesome! Thanks @tlberglund. I'll be there around 5:30 as well so that the projector and I can come to an _understanding_.

[2014-08-04 18:34] tlberglund commented on #16
Yes, it is good to establish healthy lines of communication up front. :grinning:

[2015-07-15 02:37] #10 closed, assigned to nobody

[2015-07-15 02:37] #7 closed, assigned to nobody

[2015-07-15 02:38] #9 closed, assigned to nobody

[2015-07-15 02:39] #8 closed, assigned to nobody

[2015-07-27 18:31] Alan-R opened #17 "Assimilation Update"
Hi,

Back in 2013, I gave a talk on the Assimilation Project. It seems like it would be good to give an update. Lots has happened since then, and we now have a significant emphasis on security-related discovery.

My current 1-line summary of the project goes like this:
We help IT shops manage and reduce complexity while transforming security compliance into drama-free teachable moments. You can re

[2016-03-24 16:13] #13 closed, assigned to nobody